/*---- get ----*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather');

@import url('https://fonts.googleapis.com/css2?family=Poppins');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
}
html,body{
  width:100vw !important;
  overflow-x:hidden;
}
body{
    background-color:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width:100vw !important;
    overflow-x:hidden;
}
.text-box h1{
    font-size: 80px !important;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: left !important;
}
.text-box h2{
    font-size: 50px !important;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: left !important;
}
footer{
    margin-top:0vh !important;
}
/*Content Added*/
.top-content, .boxes h2{
  font-family: 'Times New Roman', Times, serif !important;
  width:100%;
}
.boxes{
  font-family: 'Poppins', sans-serif;
}
.logo-imgs {
    position: relative;
    display: inline-flex;
    align-items:center !important;
    margin-top:2vh;
}
.logo-imgs img:first-child {
    width: 30%;
    height: auto;
    margin-left:3vw;
}
.logo-imgs .top-img {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    width: 15vw;
    height:27vh;
}
.logo-imgs h1{
    font-size:10vw;
    margin-left:5vw;
    margin-top:7vh;
}
.top-content h1{
    font-size:10vw;
    display:inline flex;
}
.w1{             /*Here's what w1 and w2 are (line 49)- <h1 class="w1">We</h1> <h1 class="w2">ADDRESS</h1> */
    color:rgb(119, 42, 234);
    margin-left:10vw;
}
.w2{
    color:rgb(0, 177, 193);
    margin-left:2vw;
}
.top-content .h2{
    font-size:4vw;
    margin-left:43vw;
    font-weight:900 !important;
}
.box-1 {
    position: relative;
    display: inline-block;
    width:70%;
}
.outer-box {
    width: 90%;
    height:70vh;
}
.inner-box {
    position: absolute;
    top: 62%;
    left:35vw;
    transform: translate(-50%, -50%);
    width: 70vw;
    height:75vh;
}
.text-overlay {
    position: absolute;
    top: 29%;
    left: 2%;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.text-overlay p {
    width:55vw;
    color: black;
    font-size:1.85vw !important;
    margin-bottom:1vh;
    font-weight:600;
}
.boxes h2{
    font-size:5vw;
    text-align:right;
    margin-left:-3vw !important;
    margin-top:5vh;
}
.box-2 {
    position: relative;
    display: block;
    width: 70%;
    float: right;
}
.text-overlay-2 {
    position: absolute;
    top: 35%; 
    left: 15%; 
    width: 90%;
    box-sizing: border-box;
}
.text-item {
    display: flex;
    align-items: bottom;
    margin-bottom: 2vh;
}
.text-item img {
    margin-right: 2vw;
    width: 5vw;
    height: 8vh;
}
.text-item p {
    font-size: 2vw;
    font-weight:600;
    width:50vw;
}

/*Impact Section*/
.counter-section  {
  height: 24vh;
  width: 17vw;
  justify-content: space-around;
  align-items: center;
  background-color:#04cdff;
  color: white;
  margin-left: 55% ;
  border-radius: 0.5cm;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5)
}
.counter-section2 {
  height: 24vh;
  width: 17vw;
  justify-content: space-around;
  align-items: center;
  background-color: #04cdff;
  color: white;
  margin-left: 70% ;
  border-radius: 0.5cm;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5)
}
.counter-section3  {
  height: 24vh;
  width: 17vw;
  justify-content: space-around;
  align-items: center;
  background-color: #04cdff;
  color: white;
  margin-left: 55% ;
  border-radius: 0.5cm;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5)
}
.counter {
  font-size: 5.5em;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  opacity: 0; 
  transition: opacity 1s ease-out; 
  color: #fff;
}
.sect{
  width: 100%;
  height: 150vh;
  margin-top:90vh;
  background: linear-gradient(135deg, #71b5ff 0%, #5c25ff 100%);
}
.impact{
  font-family: "Bebas Neue", sans-serif;
  font-size: 6.5em;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ff0909;
  margin-left: 10%;
}
.impact span{
  color: #160671;
}
.pp{
  float: left;
  width: 40%;
  margin-top: 6%;
  margin-left: 5%;
  transform: rotate(-4deg);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.489);
}
.easy{
  margin-top: 2%;
  color: rgb(241, 241, 241);
  text-align: center !important;
  font-family: "Bebas Neue", sans-serif;
  font-size:3em;
  letter-spacing: 2px;
  height: 30%;  
  background: rgb(214, 0, 0);
  transition: 0.5s;
}
.pe{
  float: right;
  width: 30%;
  height: 25%;
  margin-right: 2%;
  transform: rotate(-4deg);
}
.counter-section, .counter-section2, .counter-section3{
  margin-bottom: 7vh;
}
@media (max-width: 749px) and (min-width: 320px) {
    .header{
        margin-top:-2vh !important;
        width:100vw !important;
        height:37vh !important;
    }
    .header ul {
        display: none; 
    }
    .menu-icon div{
        display:block !important;
    }
    .comp-logo{
        margin:3vh 0 2vh 0 !important;
        height:8vh !important;
        width:45vw !important;
    }
    @media (min-width:380px){
        .text-box h1{
          font-size:10vw !important;
        }
        .text-box h2{
          font-size:8vw !important;
          margin-top:3vh !important;
        }
    }
    @media (max-width:380px){
        .text-box h1{
          font-size:10vw !important;
        }
        .text-box h2{
          font-size:8vw !important;
          margin-top:4vh !important;
        }
    }
    .top-content h1 {
        font-size: 11vw;
        margin-top:0;
        font-weight:bolder !important;
    }
    .logo-imgs img:first-child {
        width: 30%;
    }
    .logo-imgs .top-img {
        width: 15%;
        height: auto;
        left:19%;
    }
    .logo-imgs h1{
      margin-left:2vw;
    }
    .w1{
        margin-left: 3vw;
        margin-top:2vh !important;
        font-size:15vw !important;
    }
    .w2 {
        margin-left: 1vw;
        font-size:15vw !important;
    }
    .top-content .h2 {
        font-size: 6.5vw;
        margin-left:5vw;
        text-align:center;
        width:90vw !important;
        margin-top:1vh;
    }
    .outer-box{
      width:85vw;
      height:30vh;
    }
    .inner-box {
        width: 95vw !important;
        height: 32vh;
        left:50vw;
        margin-left:0;
    }
    .text-overlay p {
        margin-top:-1% !important;
        font-size: 3.2vw !important;
        width:70vw;
        margin-left:7% !important;
        font-weight:600;
    }
    .box-1, .box-2{
      width:90%;
      margin-left:1vw !important;
    }
    .box-2 .inner-box{
      top:60%;
    }
    .box-2 .outer-box, .box-2 .inner-box, .text-overlay-2{
      float:center;
      margin-left:-9vw;
    }
    .boxes h2{
      font-size:9vw;
      text-align:center;
      margin:5vh 3vw 2vh 0 !important;
  }
  .text-overlay-2 {
      left: 18%; 
      top:32%;
  }
  .text-item img {
      margin-right: 2vw;
      width: 8vw;
      height: 3vh;
  }
  .text-item p {
      font-size: 3.7vw;
      width:65vw;
  }
  .sect{
    margin-top:40vh;
    height:110vh;
  }
  .counter-section, .counter-section2, .counter-section3{
    height:12vh;
    width:30vw;
    margin-top:7.5vh;
    margin-bottom:0;
    font-size:2.5vw;
  }
  .counter-section2{
    margin-left:65vw;
  }
  .pe{
    display:none;
  }
  .pp{
    height:42vh;
    width:45vw;
    margin:19vh 0 0 5vw;
  }
  @media (max-width:400px){
    .sect{
      height:115vh !important;
    }
  }
}
@media (max-width:380px){
  @media (min-width:360px){
    .sect{
      height:135vh !important;
    }
    .text-item p {
      font-size: 3.3vw;
      width:65vw;
    }
    .text-overlay p {
      font-size: 2.6vw !important;
    }
  }
  @media (max-width:360px){  
    @media (max-width:349px){
      .text-overlay p {
        font-size: 3.4vw !important;
      }
      .sect{
        height:110vh !important;
      }
      .counter-section, .counter-section2, .counter-section3{
        height:12vh !important;
      }
      .easy{
        font-size:6vw !important;
      }
      .counter{
        margin-top:1vh;
      }
      .pp{
        height:42vh !important;
        width:45vw;
      }
    }
    @media (min-width:350px){
      .text-overlay p {
        font-size: 2.9vw !important;
      }
      .sect{
        height:125vh !important;
      }
      .pp{
        height:50vh !important;
        width:45vw;
      }
    }
  }
  .pp{
    height:50vh;
    width:45vw;
  }
  .counter-section, .counter-section2, .counter-section3{
    height:14vh;
    width:30vw;
  }
}
@media (min-width: 750px) and (max-width: 1050px)  and (min-height:1000px) {
    .header{
        height:100vh !important;
    }
    .comp-logo{
        margin:3vh 0 2vh 0 !important;
        height:10vh !important;
        width:45vw !important;
    }
   .header ul {
        display: none; 
    }
    .text-box h1{
        font-size: 10vw !important;
    }
    .text-box h2{
        font-size:8vw !important;
    }
    .top-content h1 {
        font-size: 9vw;
        margin-top: 1vh;
        font-weight: bolder !important;
    }
    .logo-imgs img:first-child {
        width: 35%;
    }
    .logo-imgs .top-img {
        width: 18%;
        height: auto;
        left: 21%;
    }
    .logo-imgs h1 {
        margin-left: 3vw;
        font-size:10vw !important;
    }
    .w1{
        margin-left: 10vw;
        margin-top: 3vh !important;
        font-size: 12vw !important;
    }
    .w2 {
        margin-left: 2vw;
        font-size: 12vw !important;
    }
    .top-content .h2 {
        font-size: 5.5vw;
        margin-left: 25vw;
        width: 85vw !important;
        margin-top: 2vh;
    }
    .outer-box {
        width: 80vw;
        height: 35vh;
    }
    .inner-box {
        width: 90vw !important;
        height: 37vh;
        left: 46vw;
        margin-left: 0;
    }
    .text-overlay p {
        margin-top: 0% !important;
        font-size: 2.5vw !important;
        width: 70vw;
        margin-left: 7% !important;
        font-weight: 600;
    }
    .box-1, .box-2 {
        width: 85%;
    }
    .box-2{
      margin-right:5vw;
    }
    .box-1{
      margin-left:-2vw;
    }
    .boxes h2 {
        font-size: 7.5vw;
        text-align: right;
        margin: 5vh 3vw 2vh 0;
    }
    .text-overlay-2 {
        left: 20%;
        top: 30%;
    }
    .text-item{
      margin-left:-4vw;
      margin-top:1vh;
    }
    .text-item img {
        margin-right: 2vw;
        width: 8vw;
        height: 4.5vh;
    }
    .text-item p {
        font-size: 2.8vw;
        width: 60vw;
        margin-top:1vh;
    }
    .sect {
        margin-top: 45vh;
        height: 125vh;
    }
    @media (max-width:800px){
      .sect {
        margin-top: 45vh;
        height: 130vh;
      }
    }
    @media (min-width:1000px){
      .sect {
        margin-top: 45vh;
        height: 120vh;
      }
    }
    .counter-section, .counter-section2, .counter-section3 {
        height: 17vh;
        width: 30vw;
        margin-top: 7vh;
        font-size: 2.3vw;
    }
    .counter-section2 {
        margin-left: 65vw;
    }
    .pp {
        height: 60vh;
        width: 45vw;
        margin: 18vh 0 0 7vw;
    }
}
@media (min-width:1000px) and (max-width:1199px) and (max-height:770px) {
  .inner-box{
    height:58vh;
  }
  .outer-box{
    height:55vh;
  }
  .text-overlay p {
    font-size:2vw !important;
    width:52vw;
    margin-left:-3vw;
  }
  .text-item img{
    width:7vw;
    height:7vh; 
  }
  .text-item p{
    margin-top:1vh;
  }
  .text-overlay-2{
    margin:-1vh 0 0 -1vw;
  }
  .pp{
    width:40vw;
    margin-left:7vw;
    margin-top:15vh;
  }
  .counter-section, .counter-section2, .counter-section3{
    width:25vw;
    height:24vh;
    font-size:1.8vw;
    margin-bottom:10vh;
  }
  .sect{
    margin-top:70vh;
  }
}